<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.87.0">
    <title>Libros Ricoh</title>
    <!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
  

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">
  </head>
  <body>
    
<header class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3"  style="background-color: brown;">RICOH ARGENTINA</a> 
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a type="button" class="px-3 btn btn-danger" href="logout">Logout</a>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    
    <!-- Contenido principal   -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Intranet Libros-RICOH</h2>
        <h2>Bienvenido:
          <% if (user) { %>
            <span class="badge bg-success"><%= user.name %></span>
          <% } %>
        </h2>
      </div> 
    </main>
  </div>
</div>
<div class="container">
  <a href="/create" class="btn btn-outline-primary mt-4 " style="font-size: 24px;">Create</a>
  <a href="/" class="btn btn-outline-primary mt-4 " style="font-size: 24px;">Inicio</a>
  <a href="/impresion" class="btn btn-outline-primary mt-4 " style="font-size: 24px;">Area De Impresion</a>
  <a href="/corte" class="btn btn-outline-primary mt-4 " style="font-size: 24px;">Area De Corte</a>
  <a href="/encuadernado" class="btn btn-outline-primary mt-4 " style="font-size: 24px;">Area De Encuadernado</a>
  <a href="/tapa" class="btn btn-outline-primary mt-4 " style="font-size: 24px;">Area De Tapa</a>
  <a href="/reportes" class="btn btn-outline-primary mt-4 " style="font-size: 24px;">Area De Reportes</a>
  <a href="/createReportes" class="btn btn-outline-primary mt-4 " style="font-size: 24px;">Create Reporte</a>
  <div><a style="font-size: 24px;text-align: center;">Encuadernado</a></div>
  <table class="table table-bordered table-striped text-center mt-4 " id="example">
    <thead>
      <tr class="bg-primary text-white">
      <th scope="col">Prioridad</th>
      <th scope="col">Estado Encuadernado</th>
      <th scope="col">Libro</th>
      <th scope="col">Tamaño Cerrado</th>
      <th scope="col">Acabado Gral</th>
      <th scope="col">Solapa</th>
      <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      <% results.forEach((libros)=> { %>
        <tr>
       <td><%=libros.prioridad%></td> 
       <%if(libros.estadoencuadernado=='Sin Entregar'){%>
        <td style="background-color:#FF3636;color:black;"><a href="editEncuadernado/<%=libros.id%>"><%=libros.estadoencuadernado%></a></td> 
       <%}%>
       <%if(libros.estadoencuadernado=='En Proceso'){%>
        <td style="background-color:#8AF333;color:black;"><a href="editEncuadernado/<%=libros.id%>"><%=libros.estadoencuadernado%></a></td> 
       <%}%>
       <%if(libros.estadoencuadernado=='Entregado'){%>
        <td style="background-color:#00C9FF;color:black;"><a href="editEncuadernado"><%=libros.estadoencuadernado%></a></td> 
       <%}%>
       <td><%=libros.libro%></td> 
       <td><%=libros.cerrado%></td>
       <td><%=libros.acabadolibro%></td>
       <td><%=libros.solapa%></td>
       <td>
         <a href="/edit/<%=libros.id%>" class="btn btn-outline-info">Editar</a>
         <a href="/delete/<%=libros.id%>" class="btn btn-outline-danger">Borrar</a>
       </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script><script src="dashboard.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
    <script >
      $(document).ready(function() {
    $('#example').DataTable();
} );
    </script>
    
  </body>
</html>

